html, body { height:100%; }
* { margin:0; padding:0; }



/* Few resets for within the kiwi container */
#kiwi {
    overflow:hidden; position:relative;
    height:100%;
}
#kiwi * { margin:0px; padding:0px; }
#kiwi p { margin:0.5em 0; }
#kiwi a { color:#36C; text-decoration:none; cursor:pointer; }
#kiwi a img { border:none; }
#kiwi .format_span a { color: inherit; background-color: inherit; text-decoration: inherit; font-style: inherit; font-weight: inherit;}

#kiwi h1,
#kiwi h2,
#kiwi h3 {
    margin-top: 22px;
    margin-bottom: 11px;
}
#kiwi h4,
#kiwi h5,
#kiwi h6 {
    margin-top: 11px;
    margin-bottom: 11px;
}
#kiwi h1 { font-size: 46px; }
#kiwi h2 { font-size: 40px; }
#kiwi h3 { font-size: 34px; }
#kiwi h4 { font-size: 28px; }
#kiwi h5 { font-size: 22px; }
#kiwi h6 { font-size: 16px; }


/**
 * Main layout blocks
 */
#kiwi .toolbar { position:absolute; top:0px; width:100%; display:none; z-index:1; }
#kiwi .panels { position:absolute; left:0px; right:200px; bottom:100px; top:100px; }
#kiwi .right_bar { position:absolute; right:0px; width:200px; bottom:100px; top:100px; overflow:visible; }
#kiwi .right-bar-content { position:relative; height:100%; z-index:0; }
#kiwi .controlbox { position: absolute; bottom:0px; width:100%; display:none; }
#kiwi .memberlists_resize_handle {
    position: absolute; width:10px; z-index:1; cursor:w-resize;
}


#kiwi .toolbar .tabs { margin-right: 200px; overflow: hidden; }
#kiwi .toolbar .panellist {
    overflow: hidden;
    display:block;
}
#kiwi .toolbar .panellist li {
    float: left; list-style: none;
    display:inline; position:relative;
    padding:5px; margin:3px;
    cursor: pointer;
}

#kiwi .toolbar .panellist .active { padding-right:23px; }
#kiwi .toolbar .panellist .alert_highlight { font-weight: bold; }
#kiwi .toolbar .panellist .alert_activity { font-weight: bold; }
#kiwi .toolbar .panellist .alert_action { font-weight: bold; }

#kiwi .toolbar .panellist li { width: auto; text-align: left; }
#kiwi .toolbar .panellist li .part { position: absolute; top: 5px; right: 5px; }
#kiwi .toolbar .panellist li .part:before { content:"[x]"; }
#kiwi .toolbar .panellist li .part:hover { color: #900; }
#kiwi .toolbar .panellist li img.icon { left:5px; top:2px; height:auto; width:auto; }

#kiwi .toolbar .connections { overflow:hidden; }
#kiwi .toolbar .connections .connection { float:left; }
#kiwi.chanlist_treeview .toolbar .connections .connection { float:none; }
#kiwi .toolbar .connections .panellist { display:inline; }
#kiwi .toolbar .connections .panellist:after { content:""; }

#kiwi .status_message {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    background: #FFF;
    border-bottom: 1px solid;
    text-align: center;
}

#kiwi .channel_tools {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
#kiwi .channel_tools i {
    width: 32%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

#kiwi .panel_container { overflow-y:auto; height:100%; }
#kiwi .panel {
    overflow-x:wrap;
    border:none; display: none;
}

#kiwi .messages a {}
#kiwi .messages.active { display:block; }

#kiwi .messages .msg {}
#kiwi .messages .msg .time { display:inline; }
#kiwi .messages .msg .nick { display:inline; }
#kiwi .messages .msg .text { display:inline; }

#kiwi .messages .msg.action .nick { display:none; }
#kiwi .messages .msg.action .text { }
#kiwi .messages .msg.action.join { }
#kiwi .messages .msg.action.part .text { }
#kiwi .messages .msg.action.quit .text { }
#kiwi .messages .msg.action.kick .text { }
#kiwi .messages .msg.status .nick { display:none; }
#kiwi .messages .msg.status .text { }
#kiwi .messages .msg.topic .nick { display:none; }
#kiwi .messages .msg.topic .text { }
#kiwi .messages .msg.motd { }
#kiwi .messages .msg.motd .nick { }
#kiwi .messages .msg.motd .text { }
#kiwi .messages .msg.whois .nick { }
#kiwi .messages .msg.whois .text { }
#kiwi .messages .msg.error .text { }

#kiwi .messages .msg.global_nick_highlight { }
#kiwi .messages .msg.highlight { }

#kiwi .messages .msg .media .media_content { white-space: normal; }


#kiwi .right_bar { border-left: 1px solid #8A8A8A; }
#kiwi .right_bar.disabled { width:0; }
#kiwi .right_bar.disabled .channel_tools,
#kiwi .right_bar.disabled .memberlists { display:none; }

#kiwi .right-bar-toggle {
    position: absolute;
    top: 10px;
    left: -2.3em;
    width: 1.5em;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 1.5em;
    background: #e3e3e3;
    border: 1px solid;
    cursor: pointer;

    /*
        Some mobile browsers only support long-hand border-radius, and using large
        px values instead of 50% ensures the circle
    */
    -webkit-border-top-left-radius: 500px;
    -webkit-border-top-right-radius: 500px;
    -webkit-border-bottom-left-radius: 500px;
    -webkit-border-bottom-right-radius: 500px;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
}

/* The active channels nicklist */
#kiwi .memberlists {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    overflow-y: auto;
    padding-top: 50px;
}
#kiwi .memberlists > div { display:none; }
#kiwi .memberlists > div.active { display:block; }
#kiwi .memberlists ul li { overflow-y:auto; overflow-x:hidden; cursor:pointer; }
#kiwi .memberlists ul li a.nick { }

/* The userbox shown when clicking a nick */
#kiwi .userbox { position:relative; width:100px; }
#kiwi .userbox a { }
#kiwi .userbox a i { width:1em; text-align:center; }


/* Emoticons */
#kiwi .emoticon {
    display: inline-block;
    height: 15px; width: 17px;
    overflow: hidden;
    font-size: 0;
    background: url(../img/emoticons.png) no-repeat;
}
#kiwi .emoticon.smile { background-position:0px 0; }
#kiwi .emoticon.sad { background-position:-25px 0; }
#kiwi .emoticon.lion { background-position:-50px 0; }
#kiwi .emoticon.winky_lion { background-position:-75px 0; }
#kiwi .emoticon.confused { background-position:-100px 0; }
#kiwi .emoticon.cry { background-position:-125px 0; }
#kiwi .emoticon.wink { background-position:-150px 0; }
#kiwi .emoticon.wink_happy { background-position:-175px 0; }
#kiwi .emoticon.tongue { background-position:-200px 0; }
#kiwi .emoticon.cringe_tongue { background-position:-225px 0; }
#kiwi .emoticon.shocked { background-position:-250px 0; }
#kiwi .emoticon.happy { background-position:-275px 0; }
#kiwi .emoticon.eyebrows { background-position:-300px 0; }
#kiwi .emoticon.heart { background-position:-325px 0; }
#kiwi .emoticon.doh { background-position:-373px 0; }
#kiwi .emoticon.big_grin { background-position:-398px 0; }
#kiwi .emoticon.wide_eye_right { background-position:-423px 0; }
#kiwi .emoticon.wide_eye_left { background-position:-448px 0; }
#kiwi .emoticon.unsure { background-position:-473px 0; }


/**
 * Control box
 */
#kiwi .controlbox .input {
    height:1.7em; position:relative;
}

/* The nick label */
#kiwi .controlbox .input .nick { cursor: pointer; }
#kiwi .controlbox .input .nick a { }

/* Wrapper div around the text area input */
#kiwi .controlbox .input .input_wrap { display:inline; }

/* The textarea input */
#kiwi .controlbox .input .inp { white-space: nowrap; }


/* Nick change dialog showed when clicking the nick label */
#kiwi .controlbox .nickchange {
    position: absolute;
    background: #FFF;
}
#kiwi .controlbox .nickchange input { }
#kiwi .controlbox .nickchange button { }

/* Plugin tools */
#kiwi .controlbox .input_tools { float:right; }
#kiwi .controlbox .input_tools .tool { margin:0 1em; display:inline; }



/**
 * Topic bar
 */
#kiwi .toolbar .topic { position:relative; height:2em; }
#kiwi .toolbar .topic div {
    position:absolute;
    top:0; bottom:0; left:0; right:0;
    overflow: hidden;
}





/**
 * Server selection dialog
 */
#kiwi .server_select { position:relative; width:320px; margin:0 auto; overflow:hidden; }
#kiwi .server_select.initial { margin-top: 3em; }
#kiwi .server_select .more { display: none; }
#kiwi .server_select button {  }
#kiwi .server_select input { }
#kiwi .server_select label { }
#kiwi .server_select br { clear:both; }
#kiwi .server_select .basic input { }
#kiwi .server_select .basic label { }
#kiwi .server_select .basic { border-bottom: 1px solid gray; margin-bottom:1em; }
#kiwi .server_select .basic .show_more { }
#kiwi .server_select .basic tr.pass { display:none; }
#kiwi .server_select .basic tr.key { display:none; }
#kiwi .server_select.single_server .basic { border:none; }
#kiwi .server_select .status {  }

/* Channel key icon */
#kiwi .server_select .basic tr.channel td { position: relative; }
#kiwi .server_select .basic tr.channel .fa-key {
    position: absolute;
    top: 0.4em;
    right: 0.6em;
    font-size: 1.3em;
    cursor: pointer;
}
#kiwi .server_select .basic tr.have_key { display:none; }

/* When connected to an IRC server, .ok is set on the status div */
#kiwi .server_select .status.ok { }

/* IRC server connection error, .error is set on the status div */
#kiwi .server_select .status.error { }



/* Logo and title in the server selection dialog */
#kiwi .server_select .kiwi_logo { text-align: center; display:block; }
#kiwi .server_select .kiwi_logo h1 { }
#kiwi .server_select .kiwi_logo img { }



/* Icons in the top right corner */
#kiwi .toolbar .app_tools { float:right; }
#kiwi .toolbar .app_tools ul li {
    display:inline; cursor:pointer;
}
#kiwi .toolbar .app_tools img { height:25px; width:25px; margin: 6px 0.7em 0 0; }



/* Settings applet */

/* Some of these styles will move to global styling later */
#kiwi .settings_container {
    padding: 50px;
}

#kiwi .settings_container .thumbnails:before {
    content: ' ';
    display: table;
}
#kiwi .settings_container .thumbnails:after {
    content: ' ';
    display: table;
    clear: both;
}

#kiwi .settings_container .thumbnails {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#kiwi .settings_container .thumbnails > li {
    display: inline-block;
}

#kiwi .settings_container label {
    cursor: pointer;
}

#kiwi_ form label { display: block; }
#kiwi form input,
#kiwi form select,
#kiwi form textarea {
    /*width: 100%;
    box-sizing: border-box;*/
}

#kiwi form input[size],
#kiwi form select[size],
#kiwi form textarea[size] {
    width: auto;
}

#kiwi form input[type="file"],
#kiwi form input[type="image"],
#kiwi form input[type="submit"],
#kiwi form input[type="reset"],
#kiwi form input[type="button"] {
    width: auto;
}

#kiwi form input[type="radio"] {
    width: auto;
    cursor: pointer;
    margin-top: 2px;
}

#kiwi form input[type="checkbox"] {
    width: auto;
    cursor: pointer;
    margin-top: 3px;
}

#kiwi form .radio,
#kiwi form .checkbox {
    margin-bottom: 10px;
    padding-left: 20px;
}

#kiwi form .radio:last-child,
#kiwi form .checkbox:last-child {
    margin-bottom: 0;
}

#kiwi form .radio input[type="radio"],
#kiwi form .checkbox input[type="checkbox"] {
    float: left;
    margin-left: -20px;
}

#kiwi form .radio+.radio,
#kiwi form .checkbox+.checkbox {
    margin-top: -7px;
}

#kiwi .settings_container .thumbnail {
    float: left;
    margin-right: 15px;
    text-align: center;
}

#kiwi .settings_container .thumbnail > .thumbnail_wrapper {
    border-radius: 3px;
    padding: 3px;
}

#kiwi .settings_container .thumbnail > img {
    border-radius: 2px;
}

#kiwi .settings_container .thumbnail.active > .thumbnail_wrapper {
    background-color: #a6c42c;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6c42c), color-stop(100%, #76bd2b));
    background-image: -webkit-linear-gradient(#a6c42c, #76bd2b);
    background-image: linear-gradient(#a6c42c, #76bd2b);
}

#kiwi .settings_container section {
    padding-bottom: 20px;
}

#kiwi .settings_container .theme_color {
    border-radius: 2px;
    height: 75px;
    width: 75px;
}

#kiwi .control-group {
    margin: 0 0 20px 20px;
}

#kiwi .control-group:last-child {
    margin-bottom: 0;
}

#kiwi .settings_container section.language select { width:300px; }

@media screen and (max-width: 768px) {
    #kiwi .settings_container {
        padding: 25px;
    }
}


#kiwi .channel_info label { display: block; }
#kiwi .channel_info .channel_url {
    display: none;
}
#kiwi .channel_info .channel-banlist table { display: none; }
#kiwi .channel_info .remove-ban { cursor: pointer; }







/**
 * Reusable componants
 */

#kiwi .divider-verticle {
    border-left: 1px solid #CFCFCF;
    border-right: 1px solid #FFFFFF;
    position: absolute;
    top:25px; bottom:25px;
    right:0;
    width:0;
}

#kiwi .divider-horizontal {
    border-top: 1px solid #CFCFCF;
    border-bottom: 1px solid #FFFFFF;
    position: absolute;
    left:25px; right:25px;
    bottom:0;
    height:0;
}



#kiwi .loader {
    background:url(../img/loader.gif) no-repeat;
    width:43px; height:11px;
    display:inline-block;
}




#kiwi .ui_menu {
    padding: 0;
    z-index:10;
    position: absolute;
    top: 100px; left: 100px;
    background: #fff;
    border: 1px solid #bbb;
    background-clip: padding-box;
}
#kiwi .ui_menu .ui_menu_title {
    padding: 5px 10px 5px 10px; font-weight: bold; overflow:hidden; background:#ddd;
}
#kiwi .ui_menu .ui_menu_content { padding: 5px 10px 5px 10px; border-top:1px solid #e9e9e9; overflow:hidden; position:relative; }
#kiwi .ui_menu .ui_menu_content > a { display: block; }
#kiwi .ui_menu .ui_menu_content > a[class^="fa-"]:before,
#kiwi .ui_menu .ui_menu_content > a[class*=" fa-"]:before { margin-right: 5px; color:#666; }
#kiwi .ui_menu .ui_menu_foot {
    padding: 5px; border-top:1px solid #e9e9e9; background:#ddd; overflow:hidden;
}
#kiwi .ui_menu .ui_menu_foot .close { }

#kiwi .applet .applet_chanlist .fa-sort-asc:before, #kiwi .applet .applet_chanlist .fa-sort-desc:before {
    padding-left: 1em;
}
#kiwi .applet .applet_chanlist td {
    min-width: 120px;
}
