body, html { height: 100%; margin:0px; }



#kiwi { overflow:hidden; font-family:monospace; font-size:1em; height:100%; }
#kiwi * {
	padding:0px; margin:0px;
}
#kiwi ul { list-style:none; }

#kiwi .userlist {
	float:right;
	width: 100px;
	margin: 5px;
	overflow-y:auto;
}

#kiwi .messages {	overflow-y:scroll; height:90%; border:1px solid #999; }

#kiwi .messages .msg { border-bottom: 1px solid #CCC; }
#kiwi .messages .msg .time { width:6em; float:left; }
#kiwi .messages .msg .nick { width:7em; text-align:right; float:left; }
#kiwi .messages .msg .text { margin-left:15em; }

#kiwi .control { margin: 3px;}
#kiwi .control .msginput { padding:3px; padding-left: 7em; background-color:#F2F9FD; }
#kiwi .control .msginput .nick { float:left; width:6em; text-align:right; }
#kiwi .control .msginput .nick a { text-decoration:none; }
#kiwi .control .msginput input { margin-left: 1em; border:none; background-color:inherit; padding:3px; display:block;}
#kiwi .control .plugins ul li { display:inline; font-size:0.9em; margin-left:1em; }