#kiwi.touchscreen.portrait .userlist {	right:-100px; }

#kiwi.touchscreen.portrait .messages { right:10px; }

#kiwi.touchscreen .windowlist ul li { padding:10px; }

#kiwi .windowlist ul {
	/* border: 1px solid blue;*/
	margin-right: 0px; /* i* safaris seem to behave differently here :/ */
	height: 50px;
}