/*
	####################
		Common
	####################
*/
#kiwi .link { cursor:pointer; color:blue; }
#kiwi .newnick {
	bottom:40px;
	left:20px;
}


#kiwi .plugins a { cursor:pointer; color:#EBEBEB; font-family:verdana; }
#kiwi .plugin_file { left:20px; }

#kiwi .plugin_file .list select { width:150px; height:200px; }
#kiwi .plugin_file .list button { float:right; }







#kiwi .connectwindow {
	background:#1b1b1b; color: #D4D4D4;
	z-index:50; position:absolute;
	top:0px; bottom:0px;
	overflow-y:scroll;
	width:100%; height:100%;
}
#kiwi h1.logo { display:block; width:150px; height:175px; text-indent:-1000px; margin:70px auto 60px; background:url(../img/logo.png) no-repeat; }
#kiwi #login { width:665px; margin:0px auto; }
#kiwi #login ul { list-style:none; }
#kiwi #login ul li { overflow:show; margin-bottom:10px; }
#kiwi #login ul li.section { margin-top:25px; }
#kiwi #login ul li label { float:left; text-align:right; padding-right:.5em; }
#kiwi #login input {
	border:none;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.5),0 1px 0px rgba(255,255,255,0.3);

}
#kiwi #login input[type=checkbox] { width:auto !important; }
#kiwi #login .more { border-top: 1px dotted #888888; }
#kiwi #login .more_link {
	font-size:12px;
	position:relative;
	top:-16px;
	background: url(../img/more.png) no-repeat right 5px;
	padding-right: 12px;
	color:#888;
}

#kiwi #login .content.top {
	width:470px;
	margin:30px auto 60px;
}
#kiwi #login .content.top ul { font-size:20px; }
#kiwi #login .content.top label { width:40%; }
#kiwi #login .content.top input {
	width:240px; padding:.2em .5em;
	font-size:.8em; text-align:center;
	background:#D4D4D4;
	border-radius:4px; -moz-border-radius:4px;
}
#kiwi #login .content.top a { display:block; text-align:right; font-size:22px; margin-top:30px; }

#kiwi #login .content.bottom { width:350px; margin:30px auto; display:none; }
#kiwi #login .content.bottom ul { font-size:18px; }
#kiwi #login .content.bottom label { width:25%; }
#kiwi #login .content.bottom input { width:216px; font-size:.8em; no-repeat; padding:.2em .5em; background:#D4D4D4; border-radius:4px; -moz-border-radius:4px; }
#kiwi #login .content.bottom a { display:block; text-align:right; font-size:16px; margin-top:30px; }


#kiwi .newnick .caption { display:block; margin-bottom:1em; }

#kiwi .about {
	top: 100px;
	left: 200px;
	width: 400px;
	z-index: 1;
	display: none;
}
#kiwi .about button { float:right; }

#kiwi .box {
	color:#eee;
	min-width:150px;
	background: url(../img/trans_back.png) repeat;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	padding:7px;
	
	/*background-color: #819463;
	padding: 10px;*/
	position:absolute;
	
	/*
	box-shadow: 0px 0px 20px #555;
	-webkit-box-shadow: 0px 0px 20px #555;
	-moz-box-shadow: 0px 0px 20px #555;
	filter: progid:DXImageTransform.Microsoft.dropShadow(color=#555, offX=0, offY=0, positive=true);
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	*/
}

.box .boxarea {
	color:black;
	padding:15px !important;
	background-color:#D4D4D4;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-khtml-border-radius:3px;
	overflow:hidden;
}



























/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	/*font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;*/
	font-size:0.9em;
	color:#fff;
	
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}