#kiwi {
    background: #FFF;
    color: #555555;
}
#kiwi,
#kiwi input,
#kiwi button,
#kiwi textarea {
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px; line-height:1.4em;
}
#kiwi button, #kiwi input { padding: 3px 7px; }
#kiwi input, #kiwi textarea {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5),0 1px 0px rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 3px;
}
#kiwi button {
    border-radius: 2px;
    border: none;
    background: #8ab746;
    cursor: pointer;
    color: #1b1b1b;
}
#kiwi button:disabled { color: #464646; background:#9cc164; }

#kiwi .toolbar {
    background-color:#1B1B1B; font-size:0.9em;
}
#kiwi .controlbox { background-color:#1B1B1B; }
#kiwi .memberlists_resize_handle {
    display:none; width:0;
}

#kiwi .toolbar .connections { list-style: none; }
#kiwi .toolbar .panellist {
    background: #2b2b2b;
    color: #a5a5a5;
    margin: 5px 0 0 5px;
    float: left;
}
#kiwi .toolbar .panellist li {
    line-height: 1.4em;
    vertical-align: middle;

    display: list-item;
    float: left;
    border: none;
    background: none;
    padding: 8px;
    margin: 0;
}

#kiwi .toolbar .tabs { margin-right:0 !important; }
#kiwi .toolbar .panellist .alert_highlight { font-weight:bold; }
#kiwi .toolbar .panellist .alert_activity { font-weight:normal; }
#kiwi .toolbar .panellist .alert_action { font-weight:normal; }

#kiwi .toolbar .panellist .active { padding-right:23px; border-top:2px solid #df6b26; border-bottom:none; }
#kiwi .toolbar .panellist li .part:before { font-family: FontAwesome; content:"\f00d"; }

#kiwi .toolbar .panellist li.server span { padding-left:5px; }
#kiwi.connected .toolbar .panellist li.server:before { content: "\f0ec"; color:#3F9532; }
#kiwi .toolbar .panellist li.server:before { content: "\f06a"; color:#900; }

/* Tab texts are within a span */
#kiwi .toolbar .panellist li span  { line-height:20px; vertical-align:middle; display:inline-block; }

#kiwi .toolbar .panellist li .activity { display:inline; margin-left:0.5em; font-style:italic; font-size:0.8em; }
#kiwi .toolbar .panellist.applets li .activity { display: none; }
#kiwi .toolbar .panellist li .activity:before { content:"("; }
#kiwi .toolbar .panellist li .activity:after { content:")"; }

#kiwi .status_message {
    background: #FEEFB3; color: #9F6000;
    border-bottom: 1px solid #d7bb71;
    padding: 0.9em;
    text-align: center; font-size:1.1em;
}
#kiwi .status_message.err { color:#D8000C; background:#FFBABA; }

#kiwi .channel_tools {
    border-bottom: 1px solid #8A8A8A;
    margin-bottom: 10px;
    padding: 0 5%;
    background: #DADADA;
}
#kiwi .channel_tools i {
    width: 30%;
    font-size: 1.6em;
    line-height: 1.6em;
}
#kiwi .channel_tools i:hover {
    transition: color 0.3s;
    color: #88C56A;
}

#kiwi .messages { color: #333333; }
#kiwi .messages.active { }
#kiwi .messages a { text-decoration:none; }

#kiwi .messages .msg { border-bottom: 1px solid #DEDEDE; padding: 5px; font-family:arial; font-size:0.9em; }
#kiwi .messages .msg .time { display:none; }
#kiwi .messages .msg .nick { display:block; font-family:Arial; text-tranform:capitalize; }
#kiwi .messages .msg .text { display:block; white-space:pre-wrap; word-wrap:break-word; font-family:arial; }

#kiwi .messages .msg.action .nick { }
#kiwi .messages .msg.action .text { color:#009900; border-left:none; font-style:italic; }
#kiwi .messages .msg.action.join { color:#009900; }
#kiwi .messages .msg.action.part .text { color:#900; }
#kiwi .messages .msg.action.quit .text { color:#900; }
#kiwi .messages .msg.action.kick .text { color:#900; }
#kiwi .messages .msg.status .nick { }
#kiwi .messages .msg.status .text { color:#990000; border-left:none; font-weight:bold; }
#kiwi .messages .msg.topic { margin: 10px; background: #FFF5AB; border: 1px solid #F3C572; border-radius: 5px; }
#kiwi .messages .msg.topic .time { display:none; }
#kiwi .messages .msg.topic .nick { display:none; }
#kiwi .messages .msg.topic .text { color:#009900; margin-left:0; font-style: italic; border:none; }
#kiwi .messages .msg.motd { border:none; }
/*#kiwi .messages .msg.motd .nick { display:none; }*/
#kiwi .messages .msg.motd .text { color:#666; }
#kiwi .messages .msg.whois .nick { font-weight:normal; }
#kiwi .messages .msg.whois .text { padding-left:1em; border-left:1px dashed #999; }
#kiwi .messages .msg.error .text {
    border:1px solid #A33F3F; background-color:#D28A8A;
    padding:0.5em; margin-top:1em; margin-bottom:1em; margin-right:2em;
}

#kiwi .messages .msg.global_nick_highlight,
#kiwi .messages .msg.highlight { background:#D9D9D9; }


#kiwi .messages .last_seen {
    border-bottom-color: #B0CF82;
}



#kiwi.chanlist_treeview .panels { left:160px; }
#kiwi.chanlist_treeview .toolbar { position:static; }
#kiwi.chanlist_treeview .toolbar .app_tools { float:none; }
#kiwi.chanlist_treeview .toolbar > div { }
#kiwi.chanlist_treeview .toolbar .tabs { position:absolute; left:0px; bottom:0px; top:0px; margin:0; width:160px; background:#1B1B1B; overflow-y:auto; }
#kiwi.chanlist_treeview .tabs ul li { display:block; float:none; }
#kiwi.chanlist_treeview .tabs ul li .activity { float:right; }
#kiwi.chanlist_treeview .tabs ul li.active { padding-left:1em; }
#kiwi #chanlist {
    margin: 0.5em 1em;
}
#kiwi .applet_chanlist table {
    border-collapse: collapse;
    width: 100%;
}
#kiwi .applet_chanlist thead {
    text-align: center;
}
#kiwi .applet_chanlist tbody td {
    border: 1px solid #C4C4C4;
    padding: 0.3em 1em;
}
#kiwi .applet_chanlist .chanlist_name, #kiwi .applet_chanlist .chanlist_num_users {
    border-width: 0 1px 0 0;
}
#kiwi .applet_chanlist .chanlist_topic {
    border-width: 0;
}
#kiwi .applet_chanlist tr:nth-child(even) {
    background: none repeat scroll 0 0 #DBDBDB;
}




#kiwi .right_bar {
    background-color: #DADADA;
    border-left: 1px solid #8A8A8A;
    width:0px;
}
#kiwi.narrow .right_bar { width:100%; }
#kiwi.narrow .right_bar.disabled { width:0; }

#kiwi .memberlists .meta {
    border-bottom: 1px solid #8A8A8A;
    font-size: 0.9em;
    /*margin-bottom: 10px;*/
    padding: 0 0 10px;
    text-align: center;
}

#kiwi .memberlists ul { list-style: none; }
#kiwi .memberlists ul.active { }
#kiwi .memberlists ul li { padding: 0.2em 1em; }
#kiwi.narrow .memberlists ul li {
    padding: 0.5em 1em;
    border-bottom: 1px solid lightgray;
    text-align: center;
}
#kiwi.touch .memberlists ul li {
    padding: 1em 0.5em;
}
#kiwi .memberlists ul li:hover {
    border-left: 5px solid #88C56A;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
}
#kiwi .memberlists ul li a.nick { display:block; color:black; }

#kiwi .userbox { margin:0 1em 5px 1em; padding-bottom:0.7em; font-size:.9em; }
#kiwi .userbox a { display:block; text-decoration:none; margin-bottom:2px; }
#kiwi .userbox a i { font-size:1.1em; margin-right:5px; }

#kiwi .autocomplete {
    box-shadow: 0 1px 15px rgba(64, 54, 63, 0.25);
    border: 1px solid #CCC;
    background: #eee;
}
#kiwi .autocomplete-header {
    background: #DADADA none repeat scroll 0 0 padding-box;
    border-bottom: 1px solid #CCC;
    color: #8A8A8A;
    font-size: 12px;
    padding: 5px 10px 4px;
}
#kiwi .autocomplete-header-label {
    font-weight: bold;
}
#kiwi .autocomplete-item {
    border-bottom: 1px solid #CCC;
    background: #fff;
    padding: 5px 20px;
}
#kiwi .autocomplete-item.selected { background: #D1EACD; }
#kiwi .autocomplete-item .word { font-weight: bold; }
#kiwi .autocomplete-item .matches { font-size: 0.9em; }
#kiwi .autocomplete-item .actions { font-size: 0.9em; }
#kiwi .autocomplete-item .actions a { margin-left: 1em; }
#kiwi .autocomplete-item .description {
    margin-right: 1em;
    font-style: italic;
}

#kiwi .controlbox .input {
    background:#fff; margin:3px;
    height:1.7em;
}
#kiwi .controlbox .input .nick { display:none; }
#kiwi .controlbox .input .nick a { text-decoration:none; color:black; }
#kiwi .controlbox .input .input_wrap {
    position:absolute;
    right:3px; left:3px;
    height:1.7em;
}
#kiwi .controlbox .input .inp {
    line-height:1.7em;
    border: medium none;
    box-shadow: none;
    border-radius: 0;
    resize:none;
    overflow:hidden;
    position:relative;
    height:100%; width:100%;
    display: block;
}


#kiwi .controlbox .nickchange {
    padding:10px; left: 0px;
    background: #1B1B1B; color:#eeeeee;
}
#kiwi .controlbox .nickchange input { padding:0.3em 0.5em; }
#kiwi .controlbox .nickchange button { padding:0.5em; }



#kiwi .toolbar .topic { display:none; }
#kiwi .toolbar .topic div {
    top:2; bottom:2px; left:0; width:100%;
    padding: 0.2em 1em;
    text-align: center;
    box-shadow: none;
    border-radius: 0;
    background-color:#FFF;
    height: 1.5em;
    overflow: hidden;
    outline: none;
}


#kiwi .toolbar .app_tools { padding-left:10px; color:#D4D4D4; }
#kiwi .toolbar .app_tools ul li {
    font-size:26px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    margin-left:10px;
}
#kiwi .toolbar .app_tools ul li:hover { color:#88C56A; }
#kiwi .toolbar .app_tools img { }


/* The server select dialog */
#kiwi .server_select { padding:3em 0 2em 0; margin: 0 auto; width:100%; }
#kiwi .server_select .more { display:none; }
#kiwi .server_select button {
    /*padding: 10px 25px;*/
    padding: 0.5em 1em;
    font-size: 1.1em;
    width: 196px;
    margin: 20px auto;
    display: block;
}
#kiwi .server_select input.nick {
    float:none; display:block; width:80%;
    padding:0.5em 1em; margin:0 auto;
    text-align: center;
}
#kiwi .server_select label { display:none; }
#kiwi .server_select br { clear:both; }
#kiwi .server_select .basic { border:none; }
#kiwi .server_select .basic table { width:100%; }
#kiwi .server_select .basic table tr.channel,
#kiwi .server_select .basic table tr.pass,
#kiwi .server_select .basic table tr.have_pass { display:none; }
#kiwi .server_select .basic table tr.key,
#kiwi .server_select .basic table tr.have_key { display:none; }
#kiwi .server_select .basic .show_more { display:none !important; }
#kiwi .server_select.single_server .basic { border:none; }
#kiwi .server_select .status { text-align: center; font-weight: bold; padding:1em; }
#kiwi .server_select .status.ok { }
#kiwi .server_select .status.error {
    border:1px solid #A33F3F; background-color:#D28A8A;
    padding:0.5em; margin-top:1em; margin-bottom:1em; margin-right:2em;
}
#kiwi .server_select .show_server { margin-left: 1em; font-size:0.9em; color: #555555; }

#kiwi .server_select .kiwi_logo h1 span {
    font-size:14px;
    line-height:24px; vertical-align: middle;
    color: #555555;
}
#kiwi .server_select .kiwi_logo img { display:inline; width:24px; }

#kiwi .server_select .side_panel { display: none; }
#kiwi .server_select .server_details {
    position: relative !important;
    float: none !important;
    width: auto !important;
    padding: 0 !important;
    margin: 2em 0 0 0 !important;
}


#kiwi .notification {
    /* .show class reveals this element */
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    transition: max-height 1s;

    display: block;

    color: #DBDBDB;
    text-shadow: 0 -1px black;
    background: rgba(65, 65, 65, 0.95);
    background-clip: padding-box;
    border: 1px solid;
    border-color: rgba(17, 17, 17, 0.6) rgba(17, 17, 17, 0.7) rgba(17, 17, 17, 0.9);
    border-radius: 5px;

    background-image: -webkit-linear-gradient(top, rgba(242, 242, 242, 0.3), rgba(221, 221, 221, 0.01) 50%, rgba(0, 0, 0, 0.12) 50%, rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(242, 242, 242, 0.3), rgba(221, 221, 221, 0.01) 50%, rgba(0, 0, 0, 0.12) 50%, rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(242, 242, 242, 0.3), rgba(221, 221, 221, 0.01) 50%, rgba(0, 0, 0, 0.12) 50%, rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(to bottom, rgba(242, 242, 242, 0.3), rgba(221, 221, 221, 0.01) 50%, rgba(0, 0, 0, 0.12) 50%, rgba(0, 0, 0, 0.3));
    -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);


}
#kiwi .notification.show { max-height: 500px; }
#kiwi .notification .close {
    font-size:16px;
    border:1px solid #1b1b1b;
    border-left: none;
    border-bottom: none;
    border-radius: 0 8px 0 0;
    line-height: 20px;
    text-align: center;
    color: #747474;
    background-image: -webkit-linear-gradient(top, #383838, #111111);
    background-image: -moz-linear-gradient(top, #383838, #111111);
    background-image: -o-linear-gradient(top, #383838, #111111);
    background-image: linear-gradient(to bottom, #383838, #111111);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
}
#kiwi .notification .close:hover { color: #DBDBDB; }

#kiwi .settings_container .settings-category {
    background-color: #C5C5C5;
}
#kiwi .settings_container .settings-category > h5 {
    border-bottom: 1px solid #A5C42C;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 15px;
}
#kiwi .settings_container .settings-category-list {
    background: #C5C5C5;
    margin-top: 3.4em;
}
#kiwi .settings_container .settings-category-list a {
    line-height: 2.5em;
    background-color: #C5C5C5;
    border-left: solid 4px #C5C5C5;
    color: #888;
}
#kiwi .settings_container .settings-category-list a.active {
    border-left: solid 4px #76bd2b;
    color: #555;
}

#kiwi ::-webkit-scrollbar {
    height: 9px;
    width: 9px;
}
#kiwi ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
#kiwi ::-webkit-scrollbar-corner { background-color:transparent; }
#kiwi ::-webkit-scrollbar-track { background-clip:padding-box; }
#kiwi ::-webkit-scrollbar-track:hover {
    background-color: rgba(0,0,0,0.05);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,0.10);
}
#kiwi ::-webkit-scrollbar-track:active {
    background-color: rgba(0,0,0,0.05);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.14), inset -1px -1px 0 rgba(0,0,0,0.07);
}
#kiwi ::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10), inset 0 -1px 0 rgba(0,0,0,0.07);
}
#kiwi ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.25);
}
#kiwi ::-webkit-scrollbar-thumb:active {
    background-color: rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.35);
}