#kiwi *::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(0,0,0,0);
}
#kiwi *::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.09);
}
#kiwi *::-webkit-scrollbar-thumb:vertical {
	background: rgba(0,0,0,0.5);
	border-radius: 100px;
}

#kiwi {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: #455164;
	color: #fefefe;
	box-sizing: border-box;
}
#kiwi *,
#kiwi *:before,
#kiwi *:after {
	box-sizing: inherit;
}

#kiwi a {
	color: #428bca;
}

#kiwi .panels {
	background: #333c4a;
}

#kiwi .controlbox {
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: 48px;
	background: #2a323d;
}
#kiwi .controlbox .input {
	position: absolute;
	bottom: 7px;
	left: 7px;
	right: 7px;
	top: 7px;
}
#kiwi .controlbox .input .nick {
	line-height: 34px;
	padding: 0 6px;
	color: #CCC;
	z-index: 2;
	position: absolute;
	width: 106px;
	text-align: center;
	background: #242a33;
}
#kiwi .controlbox .input .input_wrap {
	display: block;
}
#kiwi .controlbox .input .inp {
	border-radius: 0;
	box-shadow: none;
	outline: none;
	resize: none;
	overflow: hidden;
	position: relative;

	min-height: 34px;
	border: 1px solid #242a33;
	background-color: #2e3642;
	height: 34px;
	outline: none;
	padding: 0 10px;
	line-height: 34px;
	-webkit-appearance: none;
	width: 100%;
	color: #CCC;
	font-size: 14px;
	margin-left: 106px;
}
#kiwi .controlbox .nickchange {
	padding:10px; left: 0px;
	background: #383838; color:#DADADA;
}
#kiwi .controlbox .nickchange input {
	padding:0.3em 0.5em;
	margin-left: 0.5em;
	width: 165px; }
#kiwi .controlbox .nickchange button {
	padding:0.5em;
	margin: 0 0.5em 0 1em;
}

#kiwi .toolbar {
	z-index: 1;
}
#kiwi .toolbar .connections {
	list-style: none;
}
#kiwi .toolbar .panellist li {
	height: 32px;
	padding: 6px 10px 8px;
	transition: color .2s;
	color: #99a2b4;
	margin: 1px;
}
#kiwi .toolbar .panellist li.active {
	padding-right: 10px;
}
#kiwi .toolbar .panellist .alert_highlight,
#kiwi .toolbar .panellist .alert_activity,
#kiwi .toolbar .panellist .alert_action {
	font-weight: normal;
}
#kiwi.chanlist_treeview .toolbar .connections .panellist {
	margin-bottom: 30px;
	display: block;
}
#kiwi.chanlist_treeview .toolbar {
	position: static;
}
#kiwi.chanlist_treeview .toolbar .panellist li {
	vertical-align: middle;
	display: block;
	margin: 1px -10px;
}
#kiwi.chanlist_treeview .toolbar .topic {
	margin-left: 220px;
}
#kiwi.chanlist_treeview .controlbox,
#kiwi.chanlist_treeview .panels {
	left: 220px;
}
#kiwi.chanlist_treeview .toolbar .app_tools,
#kiwi.chanlist_treeview .toolbar .tabs {
	width: 220px;
	float: none;
	position: absolute;
}
#kiwi .toolbar .app_tools {
	height: 48px;
	z-index: 2;
	line-height: 48px;
	text-align: center;
}
#kiwi.chanlist_treeview .toolbar .app_tools {
	background: rgba(0, 0, 0, .06);
	top: auto;
	left: 0;
	bottom: 0;
}
#kiwi .toolbar .app_tools ul li {
	color: #9ca5b4;
	display: inline-block;
	line-height: 34px;
	padding: 0px 12px;
	transition: color .2s;
}
#kiwi .toolbar .app_tools img {
	width: 14px;
	height: 14px;
	margin: 0;
	vertical-align: text-bottom;
}
#kiwi .toolbar .app_tools ul li:hover {
	color: #FFF;
}
#kiwi.chanlist_treeview .toolbar .tabs {
	overflow-y: auto;
	bottom: 52px !important;
	top: 0 !important;
}
#kiwi.chanlist_treeview .toolbar .tabs {
	padding: 20px 30px 0;
}
#kiwi .toolbar .tabs .panellist li:before {
	font: 14px FontAwesome;
	float: left;
	margin-right: 12px;
	width: 14px;
	text-align: center;
	content: "\f0f6";
}
#kiwi .toolbar .tabs .panellist li.server:before {
	content: "\f0a0";
}
#kiwi .toolbar .tabs .panellist li.query:before {
	content: "\f0e6";
}
#kiwi .toolbar .tabs .panellist.applets li:before {
	content: "\f013";
}

#kiwi .toolbar .panellist li:hover,
#kiwi .toolbar .panellist li.active {
	color: #fff;
}
#kiwi .toolbar .panellist li.server {
	color: #84ce88;
	font-size: 15px;
	font-weight: bold;
	font-family: inherit; /* bad fontawesome styling */
}
#kiwi .toolbar .panellist li.server:hover,
#kiwi .toolbar .panellist li.server.active {
	color: #c0f8c3;
}

#kiwi .toolbar .tabs li .activity {
	display: inline-block;
	background: #4F5B6D;
	border-radius: 3px;
	color: #afb6c0;
	font-size: 10px;
	padding: 3px 6px;
	margin-left: 4px;
	transition: background, color .2s;
}
#kiwi.chanlist_treeview .toolbar .panellist li {
	
}
#kiwi.chanlist_treeview .toolbar .panellist li .part,
#kiwi.chanlist_treeview .toolbar .tabs li .activity {
	position: absolute;
	top: 5px;
	right: 10px;
	margin-left: 0;
	line-height: 1;
}
#kiwi .toolbar .tabs li.alert_highlight .activity {
	background: #fff;
	color: #49505a;
}
#kiwi .toolbar .tabs ul li.active .activity {
	display: none;
}
#kiwi .toolbar .tabs ul li .activity.zero {
	visibility: hidden;
}
#kiwi .toolbar .panellist li .part {
	position: static;
	margin-left: 4px;
	padding: 0 0 3px 7px;
	line-height: 0;
	transition: color .2s;
}
#kiwi .toolbar .panellist li .part:hover {
	color: #e08151;
}
#kiwi .toolbar .panellist li .part:before {
	font-family: FontAwesome;
	content: "\f00d";
}

#kiwi .toolbar .topic {
	line-height: 50px;
	min-height: 48px;
	background: #333C4A;
	border-bottom: 1px solid #2a323d;
	z-index: 10;
	color: #99a2b4;
}
#kiwi .toolbar .topic div {
	overflow: hidden;
	outline: none;
	white-space: nowrap;
	padding: 0 20px;
}
#kiwi .toolbar .topic:hover div {
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow: visible;
	color: #FFF;
}

#kiwi .channel_tools {
	position: static;
	text-align: center;
}
#kiwi .channel_tools i {
	width: 30%;
	color: #9ca5b4;
	display: inline-block;
	line-height: 34px;
	padding: 0px 12px;
	transition: color .2s;
}
#kiwi .channel_tools i:hover {
	color: #88C56A;
}

#kiwi .right-bar-toggle {
	
}

#kiwi .right_bar {
	background: #333c4a;
	border-left: 1px solid #2a323d;
}

#kiwi .memberlists {
	margin-top: 36px;
	padding-top: 0;
}
#kiwi .memberlists .meta {
	background-color: #2e3642;
	height: 32px;
	line-height: 32px;
	color: #777;
	padding-left: 16px;
	margin-bottom: 16px;
}

#kiwi .memberlists ul {
	list-style: none;
}
#kiwi .memberlists ul li {
	padding: 0 16px;
	line-height: 1.6;
	
}
#kiwi .memberlists ul li a.nick {
	display: block;
	color: #b0bacf;
	transition: color .2s;
}

#kiwi .memberlists ul li a.nick:hover {
	color: #fefefe;
}

#kiwi .userbox { margin:4px 1em 5px 1em; padding-bottom:0.7em; font-size:.9em; }
#kiwi .userbox a { display:block; text-decoration:none; margin-bottom:2px; transition: color .2s; }

/* User mode styles */
#kiwi .memberlists ul li .prefix {
	display: none;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 5px;
	margin: 0 7px 0 0;
	font-size:12px;
	text-align: center;
	color: #E3E3E3;
}
/* Most important modes towards the bottom - they override the top ones! */
#kiwi .memberlists ul li.mode.v .prefix { display: inline-block; background: #b3b3b3; }
#kiwi .memberlists ul li.mode.h .prefix { display: inline-block; background: #b5b447; }
#kiwi .memberlists ul li.mode.o .prefix { display: inline-block; background: #47b547; }
#kiwi .memberlists ul li.mode.a .prefix { display: inline-block; background: #b54747; }
#kiwi .memberlists ul li.mode.q .prefix { display: inline-block; background: #8547b5; }

/**
 * SERVER SELECTION DIALOG
 */
#kiwi .server_select .basic {
	border: 0;
}
#kiwi .server_select table {
	width: 100%;
}
#kiwi .server_select label {
	color: #CCC;
	font-size: 14px;
	width: 100px;
	display: block;
	line-height: 36px;
}
#kiwi .server_select .have_pass label {
	display: inline;
	cursor: pointer;
}
#kiwi .server_select input[type="checkbox"] {
	height: 14px;
	width: 14px;
	vertical-align: text-bottom;
}
#kiwi .server_select input[type="text"],
#kiwi .server_select input[type="password"] {
	border: 2px solid #63936E;
	border-radius: 2px;
	background: none;
	color: #FFF;
	font-size: 14px;
	outline: 0;
	padding: 8px 10px;
	transition: border-color .2s, box-shadow .2s;
	-webkit-appearance: none;
	width: 100%;
}
#kiwi .server_select input[type="text"]:focus,
#kiwi .server_select input[type="password"]:focus {
	border-color: #469408;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 6px #7aba7b;
}
#kiwi .server_select button {
	margin-top: 10px;
	border: 2px solid #84ce88;
	border-radius: 3px;
	color: #84ce88;
	display: block;
	width: 100%;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 9px 17px;
	text-transform: uppercase;
	transition: background .2s, border-color .2s, color .2s;
	cursor: pointer;
	background: none;
	outline: none;
}
#kiwi .server_select button:hover {
	background: #84ce88;
	color: #fff;
}
#kiwi .server_select button:active {
	box-shadow: none;
	opacity: .8;
}
#kiwi .server_select .basic tr.channel .fa-key {
	top: 9px;
	color: #aaa;
	transition: color .2s;
}
#kiwi .server_select .basic tr.channel .fa-key:hover {
	color: #fff;
}
#kiwi .server_select .basic .show_more {
	line-height: 24px;
	border-bottom: 1px solid #428bca;
	display: block;
}
#kiwi .server_select .kiwi_logo {
	margin-top: 60px;
}
#kiwi .server_select .kiwi_logo h1 span {
	font-size: 14px;
	vertical-align: middle;
	color: #CCC;
}
#kiwi .server_select .kiwi_logo img {
	width: 24px;
}
#kiwi .server_select .status {
	border: 2px solid #84ce88;
	background: #FEEFB3;
	color: #9F6000;
	border-bottom: 2px solid #d7bb71;
	padding: 16px;
	margin-bottom: 32px;
	transition: background .2s, border-color .2s, color .2s;
}
#kiwi .server_select .status.error {
	color: #FFF;
	background: #EF5350;
	border-color: #F44336;
}

/**
 * AUTOCOMPLETION POPUP
 */
#kiwi .autocomplete {
	box-shadow: 0 1px 15px rgba(64, 54, 63, 0.25);
	border: 1px solid #242a33;
	background: #455164;
}
#kiwi .autocomplete-header {
	background: rgba(0,0,0,.5);
	border-bottom: 1px solid #242a33;
	color: #CCC;
	font-size: 12px;
	padding: 6px;
}
#kiwi .autocomplete-header-label {
	font-weight: bold;
}
#kiwi .autocomplete-item {
	border-bottom: 1px solid #242a33;
	background: rgba(0,0,0,.2);
	padding: 5px 20px;
	cursor: pointer;
}
#kiwi .autocomplete-item.selected {
	background: #84ce88;
}
#kiwi .autocomplete-item .word {
	font-weight: bold;
}
#kiwi .autocomplete-item .matches {
	font-size: 0.9em;
}
#kiwi .autocomplete-item .actions {
	font-size: 0.9em;
}
#kiwi .autocomplete-item .actions a {
	margin-left: 1em;
}
#kiwi .autocomplete-item .description {
	margin-right: 1em;
	font-style: italic;
}


#kiwi .messages .msg.action .nick {
	display: inline;
	
}
#kiwi .messages .msg.action.invite .nick:before {
	font-family: FontAwesome;
	content: "\f0e0";
	color: #2ECC40;
}
#kiwi .messages .msg.action.join .nick:before {
    font-family: FontAwesome;
	content: "\f090";
	color: #2ECC40;
}
#kiwi .messages .msg.action.kick .nick:before {
	font-family: FontAwesome;
	content: "\f05e";
	color: #FF4136;
}
#kiwi .messages .msg.action.part .nick:before,
#kiwi .messages .msg.action.quit .nick:before {
	font-family: FontAwesome;
	content: "\f08b";
	color: #FF4136;
	display: inline-block;
	transform: rotate(180deg);
}
#kiwi .messages .msg.action.mode .nick:before {
	font-family: FontAwesome;
	content: "\f05a";
	color: #2ECC40;
}
#kiwi .messages .msg.action.nick .nick:before {
    font-family: FontAwesome;
	content: "\f007";
	color: #2ECC40;
}
/*#kiwi .action .nick:before {
    font-family: FontAwesome;
	content: "\f005";
	color: #F39C12;
}*/















#kiwi .status_message {
    background: #FEEFB3; color: #9F6000;
    border-bottom: 1px solid #d7bb71;
    padding: 0.9em;
    text-align: center; font-size:1.1em;
}
#kiwi .status_message.err { color:#D8000C; background:#FFBABA; }

#kiwi .controlbox .input .inp,
#kiwi .messages {
	font-family: Consolas, monaco, monospace;
}

#kiwi .messages .msg .time { float:right; margin-top: 3px; color:#999; padding:1px 5px 0 0; display:none; font-size: 11px; width: 6em; text-align:right; }
#kiwi .messages .msg .nick { width: 112px; float:left; text-align:right; padding: 4px; padding-right: 10px;overflow:hidden; white-space: nowrap; line-height: 16px; }
#kiwi .messages .msg .text { min-height: 16px; display:block; margin-left:112px; white-space:pre-wrap; word-wrap:break-word; padding:4px; padding-left: 10px; }

#kiwi .messages .msg .text {
	border-left: 1px solid rgba(0, 0, 0, .4);
}

#kiwi .messages .msg.action.nick .text { color:#f3f3f3; }
#kiwi .messages .msg.action.join .text { color:#84ce88; }
#kiwi .messages .msg.action.part .text { color:#d0907d; }
#kiwi .messages .msg.action.quit .text { color:#d0907d; }
#kiwi .messages .msg.action.kick .text { color:#d0907d; }

#kiwi .messages .msg.status .nick { }
#kiwi .messages .msg.status .text { color:#990000; margin-left:9em; border-left:none; font-weight:bold; }

#kiwi .messages .msg.topic { margin: 10px; background: #FFF5AB; border: 1px solid #F3C572; border-radius: 5px; }
#kiwi .messages .msg.topic .time { display:none; }
#kiwi .messages .msg.topic .nick { display:none; }
#kiwi .messages .msg.topic .text { color:#009900; margin-left:0; font-style: italic; border:none; }
#kiwi .messages .msg.motd { border:none; }
/*#kiwi .messages .msg.motd .nick { display:none; }*/
#kiwi .messages .msg.motd .text { color:#666; }
#kiwi .messages .msg.whois .nick { font-weight:normal; }
#kiwi .messages .msg.whois .text { padding-left:1em; border-left-width:5px; }
#kiwi .messages .msg.error .text {
    border:1px solid #A33F3F; background-color:#D28A8A;
    padding:0.5em; margin-top:1em; margin-bottom:1em; margin-right:2em;
}

#kiwi.timestamps .messages .msg .time { display:block; }
#kiwi.timestamps .messages .msg .text { margin-right: 5em;}

#kiwi .messages .msg.global_nick_highlight,
#kiwi .messages .msg.highlight { transition: background .2s; background:rgba(132, 206, 136, 0.2); }

/* Narrow styling (window width < 420px) */
#kiwi.narrow .messages .msg .time { display:none; }
#kiwi.narrow .messages .msg .nick { display:block; float:none; text-align:left; padding-bottom:0;}
#kiwi.narrow .messages .msg .text { display:block; white-space:pre-wrap; word-wrap:break-word; padding-top:0; margin:0;}
#kiwi.narrow .messages .msg.action .text { }


#kiwi .messages .msg .media { margin-left:0.5em; }
#kiwi .messages .msg .media .media_close { font-size:0.9em; }
#kiwi .messages .msg .media .media_content { margin:10px 0 0 10px; overflow:hidden; }
#kiwi .messages .msg .media .media_content img { padding:3px; border:1px solid gray; }
#kiwi .messages .msg .media .media_content > .content {
    background: white;
    overflow: hidden;
    padding: 10px;
    border: #DDD 1px solid;
    border-top-color: #EEE;
    border-bottom-color: #BBB;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    float: left;
}

#kiwi .messages .msg .media.twitter .media_content > .content {
    background: transparent;
    border:none;
    overflow: hidden;
    box-shadow: none;
    padding: 0;
}
#kiwi .messages .msg .media.reddit .thumbnail_nsfw {
    display: inline-block;
    float: left;
}
#kiwi .messages .msg .media.reddit .thumbnail { float:left; margin-right: 0.5em; }

#kiwi .messages .last_seen {
    border-bottom-color: #B0CF82;
}

#kiwi .applet_chanlist {
    margin: 0.5em 1em;
}
#kiwi .applet_chanlist table {
    border-collapse: collapse;
    width: 100%;
}
#kiwi .applet_chanlist thead {
    text-align: center;
}
#kiwi .applet_chanlist tbody td {
    border: 1px solid #C4C4C4;
    padding: 0.3em 1em;
}
#kiwi .applet_chanlist .chanlist_name, #kiwi .applet_chanlist .chanlist_num_users {
    border-width: 0 1px 0 0;
}
#kiwi .applet_chanlist .chanlist_topic {
    border-width: 0;
}
#kiwi .applet_chanlist tr:nth-child(even) {
    background: none repeat scroll 0 0 #DBDBDB;
}


#kiwi .applet > div.settings button.save {
    padding:1em 2em;
    border:1px solid gray; border-radius:3px;
}
#kiwi .applet > div.settings tr {
    border-bottom: 1px dashed black;
}

#kiwi .applet > div.settings td.label {
    font-weight: bold;
}
#kiwi .applet > div.settings tr.save {
    text-align: right;
}


#kiwi .ui_menu {
    border-radius: 3px;
    color: #333;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
}
#kiwi .ui_menu .ui_menu_title {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#kiwi .ui_menu .ui_menu_content { }
#kiwi .ui_menu .ui_menu_content.hover:hover { background:#f7f7f7; }
#kiwi .ui_menu .ui_menu_foot {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#kiwi .ui_menu .ui_menu_foot .close { float:right; font-size:0.9em; margin-right:1em; color: #999; }
#kiwi .ui_menu .ui_menu_foot .close:hover { color: #222; }


#kiwi .channel_info .channel_url {
    display: block;
    margin: 5px 1em;
    font-style: italic;
}
#kiwi .channel_info .channel-banlist table { margin-top: 10px; border-spacing: 10px 3px; }
#kiwi .channel_info .channel-banlist thead { font-style: italic; }
#kiwi .channel_info .remove-ban:hover { color: #900; }


#kiwi .notification {
    /* .show class reveals this element */
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    transition: max-height 1s;

    display: block;

    color: #DBDBDB;
    text-shadow: 0 -1px black;
    background: rgba(65, 65, 65, 0.95);
    background-clip: padding-box;
    border: 1px solid;
    border-color: rgba(17, 17, 17, 0.6) rgba(17, 17, 17, 0.7) rgba(17, 17, 17, 0.9);
    border-radius: 5px;

    background-image: -webkit-linear-gradient(top, rgba(242, 242, 242, 0.3), rgba(221, 221, 221, 0.01) 50%, rgba(0, 0, 0, 0.12) 50%, rgba(0, 0, 0, 0.3));
    background-image: -moz-linear-gradient(top, rgba(242, 242, 242, 0.3), rgba(221, 221, 221, 0.01) 50%, rgba(0, 0, 0, 0.12) 50%, rgba(0, 0, 0, 0.3));
    background-image: -o-linear-gradient(top, rgba(242, 242, 242, 0.3), rgba(221, 221, 221, 0.01) 50%, rgba(0, 0, 0, 0.12) 50%, rgba(0, 0, 0, 0.3));
    background-image: linear-gradient(to bottom, rgba(242, 242, 242, 0.3), rgba(221, 221, 221, 0.01) 50%, rgba(0, 0, 0, 0.12) 50%, rgba(0, 0, 0, 0.3));
    -webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);


}
#kiwi .notification.show { max-height: 500px; }
#kiwi .notification .close {
    font-size:16px;
    border:1px solid #1b1b1b;
    border-left, border-bottom: none;
    border-radius: 0 8px 0 0;
    line-height: 20px;
    text-align: center;
    color: #747474;
    background-image: -webkit-linear-gradient(top, #383838, #111111);
    background-image: -moz-linear-gradient(top, #383838, #111111);
    background-image: -o-linear-gradient(top, #383838, #111111);
    background-image: linear-gradient(to bottom, #383838, #111111);
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
}
#kiwi .notification .close:hover { color: #DBDBDB; }


#kiwi .settings_container .settings-category {
	color: #333;
    background-color: #FFF;
}
#kiwi .settings_container .settings-category > h5 {
    border-bottom: 1px solid #A5C42C;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 0;
    padding-top: 15px;
}
#kiwi .settings_container .settings-category-list {
    background: #FFF;
    margin-top: 3.4em;
}
#kiwi .settings_container .settings-category-list a {
    line-height: 2.5em;
    background-color: #FFF;
    border-left: solid 4px #FFF;
    color: #999;
}
#kiwi .settings_container .settings-category-list a.active {
    border-left: solid 4px #a6c42c;
    color: #36C;
}
